# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Файл с токенами / конфигурацией
.env

# IDE-файлы
.idea/
.vscode/

# Логи, если будут
*.log

# Системные файлы
.DS_Store
Thumbs.db
